<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" integrity="sha384-Ay26V7L8bsJTsX9Sxclnvsn+hkdiwRnrjZJXqKmkIDobPgIIWBOVguEcQQLDuhfN" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js" integrity="sha512-vSyPWqWsSHFHLnMSwxfmicOgfp0JuENoLwzbR+Hf5diwdYTJraf/m+EKrMb4ulTYmb/Ra75YmckeTQ4sHzg2hg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css" integrity="sha512-3lMc9rpZbcRPiC3OeFM3Xey51i0p5ty5V8jkdlNGZLttjj6tleviLJfHli6p8EpXZkCklkqNt8ddSroB3bvhrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.min.css" integrity="sha512-dBcWcF4Sxukh2OiXtCD6iHZjdXyv0P0BAnOVSWOn9mnuWy7oPhy0Tw+9Zi2QjDcoOqPIVIs2x3y5dWnR4RmBUg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js" integrity="sha512-PhxKYD+yO/lC78X6FH4UvD00aTR7qMJm3DuoHDBPd1vtTcsJuIqbQCZ7SPa8BL0Wss4C/Vq98Rp58G9O/yWm4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.min.js" integrity="sha512-r8v5faBpx76srj/uf5MNuqDSBbn0d4RYecND/xoGXoKe7scwbd0FrgmM+lNbeypGaHyP/WZX0d8xPGCAYvSMRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Font for apple -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Hack for DataTable which don't take my "width: 100%" into account-->
    <style>
      .dt-container { width: 100%; }
      table { width: 100% !important; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link{% if active == "list" %} active{% endif %}" aria-current="page" href="{{ url_for('list') }}">Podcast list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if active == "edit" %} active{% endif %}" href="{{ url_for('edit', edit_id='new') }}">Add/Edit podcast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if active == "history" %} active{% endif %}" href="{{ url_for('history') }}">View download history/player</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if active == "dl" %} active{% endif %}" href="{{ url_for('download') }}">Force download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if active == "user" %} active{% endif %}" href="{{ url_for('users') }}">Users list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li>
              <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    <div class="text-center">
      <h1>{% block inpagetitle %} {% endblock %}</h1>
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
  </body>
</html>
