{% set active = 'delete' %}
{% extends 'base.html' %}

{% block title %}podcast-downloader web interface - DELETE{% endblock %}

{% block inpagetitle %}Podcast {{ name }} deleted{% endblock %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        Delete {{ name }} complete. Redirecting to podcasts list in <span id="timeout">5</span>s.
    </div>
    <script>
        setTimeout(function() {
            window.location.href = '{{ url_for("list") }}';
        }, 5000);
        timeout = 5;
        setInterval(function() {
            timeout -= 1;
            $("#timeout").text(timeout);
        }, 1000);
    </script>
{% endblock %}
