{% set active = 'edit' %}
{% extends 'base.html' %}

{% block title %}podcast-downloader web interface - EDIT{% endblock %}

{% block inpagetitle %}{% if is_new == 1 %}Add{% else %}Edit{% endif %}{% endblock %}

{% block content %}
    <div>
        {% if is_new == 1 or found == 1 %}
        <form method="post" class="form-inline">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="id">ID</label>
                <div class="col-sm-10"><input type="text" name="id" id="id" value="{{ edit_id }}" readonly class="form-control-plaintext"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name">Name</label>
                <div class="col-sm-10"><input type="text" name="name" id="name" class="form-control" placeholder="Name of the current podcast" value="{{ podcast["name"] }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="url">URL</label>
                <div class="col-sm-10"><input type="text" name="url" id="url" class="form-control" placeholder="URL of the current podcast" value="{{ podcast["url"] }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="min_size">Minimal size</label>
                <div class="col-sm-10"><input type="number" name="min_size" id="min_size" class="form-control" placeholder="Minimal size of the file to be downloaded (empty for none, in MB)" value="{{ podcast["min_size"] }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="max_size">Maximal size</label>
                <div class="col-sm-10"><input type="number" name="max_size" id="max_size" class="form-control" placeholder="Maximal size of the file to be downloaded (empty for none, in MB)" value="{{ podcast["max_size"] }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="min_duration">Minimal duration</label>
                <div class="col-sm-10"><input type="number" name="min_duration" id="min_duration" class="form-control" placeholder="Minimal duration of the podcast (empty for none, in seconds)" value="{{ podcast["min_duration"] }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="max_duration">Maximal duration</label>
                <div class="col-sm-10"><input type="number" name="max_duration" id="max_duration" class="form-control" placeholder="Maximal duration of the podcast (empty for none, in seconds)" value="{{ podcast["max_duration"] }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="published_time_before">Published time before </label>
                <div class="col-sm-10"><input type="time" step="1" name="published_time_before" id="published_time_before" class="form-control" value="{{ published_time_before_time }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="published_time_after">Published time after</label>
                <div class="col-sm-10"><input type="time" step="1" name="published_time_after" id="published_time_after" class="form-control" value="{{ published_time_after_time }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="destination">Destination</label>
                <div class="col-sm-10"><input type="text" name="destination" id="destination" class="form-control" placeholder="Destination folder" value="{{ podcast["destination"] }}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="enabled">Enabled</label>
                <div class="col-sm-10"><input name="enabled" id="enabled" class="form-check-input" type="checkbox" {% if podcast["enabled"] == 1 or is_new == 1 %}checked{% endif %}></div>
            </div>
            <div class="form-group row">
                <input type="submit" value="Save">
            </div>
        </form>
        {% else %}
            <span>UUID is invalid</span>
        {% endif %}
    </div>
{% endblock %}
