{% set active = 'history' %}
{% extends 'base.html' %}

{% block title %}podcast-downloader web interface - EDIT{% endblock %}

{% block inpagetitle %}History{% endblock %}

{% block content %}
  <script language="javascript">
    function mus_play(podcast, title, url)
    {
      $('#mus_podcast').text(podcast);
      $('#mus_title').text(title);

      var audio = $('#mus_file');
      audio.attr("src", url);
      audio[0].pause();
      audio[0].load();
      audio[0].oncanplaythrough = audio[0].play();

      $("#mus_play").hide();
      $("#mus_pause").show();
    }

    function play_btn()
    {
      $("#mus_play").hide();
      $("#mus_pause").show();
      $('#mus_file')[0].play();
    }

    function pause_btn()
    {
      $("#mus_play").show();
      $("#mus_pause").hide();
      $('#mus_file')[0].pause();
    }

    function update_time()
    {
      curTime = new Date(null);
      duration = new Date(null);

      float_currentTime = $('#mus_file')[0].currentTime;
      float_duration = $('#mus_file')[0].duration;

      slider = $("#mus_timeslider");
      slider.attr("max", float_duration);
      slider.val(float_currentTime);

      curTime.setSeconds(float_currentTime);
      duration.setSeconds(float_duration);

      txt_curTime = (Math.round(float_currentTime / 3600)).toString() + curTime.toISOString().substr(13, 6);
      txt_duration = (Math.round(float_duration / 3600)).toString() + duration.toISOString().substr(13, 6);

      $("#mus_current_time").text(txt_curTime);
      $("#mus_total_time").text(txt_duration);
    }

    function mus_setCurrentTime()
    {
      $('#mus_file')[0].currentTime = $("#mus_timeslider").val();
    }
  </script>
  <div>
    <div class="accordion" id="podcast-list">
      {% for name in history["_"] %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
            {{ name["podcast_name"] }}
          </button>
        </h2>
        <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#podcast-list">
          <table class="table table-striped" id="tblhistory-{{ loop.index }}">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Published</th>
                <th scope="col">Downloaded</th>
                <th scope="col"><i class="bi bi-download"></i></th>
                <th scope="col"><i class="bi bi-cloud-download"></i></th>
                <th scope="col"><i class="bi bi-play-circle"></i></th>
              </tr>
            </thead>
            <tbody>
              {% for h in history[name["podcast_name"]] %}
                <tr>
                  <td class="align-middle">{% if h["image_cache"] is not none %}<img src="data:image/png;base64,{{ h["image_cache"] | b64encode | e }}" alt="podcast illustration">{% else %}&nbsp;{% endif %}</td>
                  <td class="align-middle"><a href="{{ h["external_link"] }}">{{ h["name"] }}</a></td>
                  <td class="align-middle">{{ h["description"] | safe }}</td>
                  <td class="align-middle">{{ h["publish_time"] }}</td>
                  <td class="align-middle">{{ h["dl_time"] }}</td>
                  <td class="align-middle"><a href="{{ h["url"] }}"><i class="bi bi-download"></i></a></td>
                  <td class="align-middle"><a href="{{ url_for("downloadItem", dl_id=h["id"]|int, dl_url=h["url"]|str32encode) }}"><i class="bi bi-cloud-download"></i></a></td>
                  <td class="align-middle"><a onclick='javascript:mus_play({{ name["podcast_name"] | tojson | safe }}, {{ h["name" ] |tojson | safe }}, {{ h["url"] | tojson | safe }}, {{ h["localFile"] | tojson | safe }})'><i class="bi bi-play-circle"></i></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="height: 196px;">
      &nbsp;
    </div>
  </div>
  <!-- Content -->
  <div class="fixed-bottom container w-100">

    <div id="mobile-box">

      <!-- Card -->
      <div class="card">
        <div class="card-body text-center">
          <h5 class="h5 font-weight-bold" id="mus_podcast">No podcast</h5>
          <p class="mb-0" id="mus_title">No title</p>

          <audio id="mus_file" preload="true" ontimeupdate="javascript:update_time()">
            <source src="">
          </audio>
          <span id="mus_current_time"></span>
          <i onclick="javascript:play_btn()" class="bi bi-play-circle" id="mus_play"></i>
          <i onclick="javascript:pause_btn()" class="bi bi-pause-circle" id="mus_pause"></i>
          <input type="range" class="form-range w-50" min="0" max="0" id="mus_timeslider" onclick="javascript:mus_setCurrentTime()" step="0.01">
          <span id="mus_total_time"></span>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
  <!-- Content -->

  <script>
    $(document).ready( function() { $('.table').DataTable(); });
    $("#mus_play").hide();
    $("#mus_pause").hide();
  </script>
{% endblock %}
