{% set active = 'history' %}
{% extends 'base.html' %}

{% block title %}podcast-downloader web interface - EDIT{% endblock %}

{% block inpagetitle %}History{% endblock %}

{% block content %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Published</th>
                    <th scope="col">Downloaded</th>
                    <th scope="col"><i class="bi bi-cloud-download"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for h in history %}
                    <tr>
                        <td>{{ h["podcast_name"] }}</td>
                        <td><a href="{{ h["external_link"] }}">{{ h["name"] }}</a></td>
                        <td>{{ h["description"] }}</td>
                        <td>{{ h["publish_time"] }}</td>
                        <td>{{ h["dl_time"] }}</td>
                        <td><a href="{{ h["url"] }}"><i class="bi bi-cloud-download"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
