{% set active = 'list' %}
{% extends 'base.html' %}

{% block title %}podcast-downloader web interface{% endblock %}

{% block inpagetitle %}Podcast list{% endblock %}

{% block content %}
    <div>
        <table class="table table-striped" id="tbl_list">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col"><i class="bi bi-cloud-download"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for podcast in podcast_list %}
                    <tr>
                        <th scope="row" class="align-middle">{{ podcast["id"] }}</th>
                        <td class="align-middle">{% if podcast["image_cache"] is not none %}<img src="data:image/png;base64,{{ podcast["image_cache"] | b64encode | e }}" alt="podcast illustration">{% else %}&nbsp;{% endif %}</td>
                        <td class="align-middle"><a{% if podcast["enabled"] == 0 %} style="color: #808080;"{% endif %} href="{{ podcast["url"] }}">{{ podcast["name"] }}</a></td>
                        <td class="align-middle">{{ podcast["description"] | safe }}</td>
                        <td class="align-middle"><a href="{{ url_for('edit', edit_id=podcast["id"]) }}"><i class="bi bi-pencil"></i></a></td>
                        <td class="align-middle"><a href="{{ url_for('delete', delete_id=podcast["id"]) }}"><i class="bi bi-x-octagon-fill" style="color: red;"></i></a></td>
                        <td class="align-middle"><a href="{{ url_for("downloadPodcast", dl_id=podcast["id"]|int) }}"><i class="bi bi-cloud-download"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready( function() { $('#tbl_list').DataTable(); });
    </script>
{% endblock %}
