{% set active = 'list' %}
{% extends 'base.html' %}

{% block title %}podcast-downloader web interface{% endblock %}

{% block inpagetitle %}Podcast list{% endblock %}

{% block content %}
    <div>
        <table class="table table-striped" id="tbl_list">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for podcast in podcast_list %}
                    <tr>
                        <th scope="row">{{ podcast["id"] }}</td>
                        <td>{{ podcast["name"] }}</td>
                        <td><a{% if podcast["enabled"] == 0 %} style="color: #808080;"{% endif %} href="{{ podcast["url"] }}">{{ podcast["url"] }}</a></td>
                        <td><a href="{{ url_for('edit', edit_id=podcast["id"]) }}"><i class="bi bi-pencil"></i></a></td>
                        <td><a href="{{ url_for('delete', delete_id=podcast["id"]) }}"><i class="bi bi-x-octagon-fill" style="color: red;"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready( function() { $('#tbl_list').DataTable(); });
    </script>
{% endblock %}
